body {
    font-family: 'Tahoma', sans-serif;
    background-color: #f5f5f5;
}

div {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
}

.secao-borda-inferior {
    border-bottom: 1px solid #d5d5d5;
}

p {
    font-family: 'Verdana', serif;
    line-height: 20px;
    margin: 20px 100px 20px 100px;
}

img {
    width: 195px;
}

a {
    text-decoration: none;
    color: white;
    background-color: #3CB371;
    border-radius: 20px;
    padding: 8px 12px;
}

a:hover {
    color: white;
}

span {
    font-weight: bold;
}

#rodape {
    font-size: 12px;
}